body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-right: .1rem solid black;
    padding-left: 1rem;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0 0 0;
}
.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
#num-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 5px; /* Space between buttons */
    max-width: 200px; /* Limit the pad width */
    margin: auto; /* Centering the pad */
}

.num-key, .delete-key {
    padding: 10px; /* Padding for larger clickable area */
    font-size: 16px; /* Larger font size for better readability */
    width: 100%; /* Ensure full width within grid column */
}

.delete-key {
    grid-column: span 3; /* Make delete key span across all columns */
}